<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="fileExtensions" value="java"/>

    <!-- This config was created using the following table: https://bit.ly/3BbxmD5 -->

    <!-- Size Violations -->
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

    <module name="TreeWalker">
        <!-- Block Checks -->
        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>

        <!-- Coding -->
        <module name="ArrayTrailingComma"/>
        <module name="CovariantEquals"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="MultipleStringLiterals">
            <!-- Consistent with AvoidDuplicateLiterals from PMD -->
            <property name="allowedDuplicates" value="3"/>
            <property name="ignoreStringsRegexp" value='^".{0,2}"$'/>
        </module>
        <module name="MultipleVariableDeclarations"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="ParameterAssignment"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="UnnecessaryParentheses"/>

        <!-- Imports  -->
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="false"/>
        </module>

        <!-- Metrics -->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="0"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="0"/>
            <property name="switchBlockAsSingleDecisionPoint" value="true"/>
        </module>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="0"/>
        </module>

        <!-- Miscellaneous -->
        <module name="ArrayTypeStyle"/>
        <module name="CommentsIndentation"/>
        <module name="Indentation"/>
        <module name="UpperEll"/>

        <!-- Modifiers -->
        <module name="ModifierOrder"/>

        <!-- Naming Conventions -->
        <module name="AbbreviationAsWordInName"/>
        <module name="ConstantName">
            <property name="format" value="^log(ger)?$|^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use UPPER_CASE_SNAKE_CASE (checked pattern ''{1}'')."/>
        </module>
        <module name="LambdaParameterName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="LocalFinalVariableName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="LocalVariableName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="MemberName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="MethodName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="StaticVariableName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use camelCase (checked pattern ''{1}'')."/>
        </module>
        <module name="TypeName">
            <message key="name.invalidPattern"
                     value="Name ''{0}'' must use PascalCase (checked pattern ''{1}'')."/>
        </module>

        <!-- Size Violations -->
        <module name="ParameterNumber">
            <!-- Consistent with the ExcessiveParameterList rule from PMD config -->
            <property name="max" value="9"/>
        </module>

        <!-- Whitespaces -->
        <module name="EmptyForIteratorPad"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap">
            <property name="tokens"
                      value="ASSIGN,DIV_ASSIGN,PLUS_ASSIGN,MINUS_ASSIGN,STAR_ASSIGN,MOD_ASSIGN,
                SR_ASSIGN,BSR_ASSIGN,SL_ASSIGN,BXOR_ASSIGN,BOR_ASSIGN,BAND_ASSIGN"/>
            <property name="option" value="eol"/>
        </module>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

    </module>
</module>
